<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="colorlib.com">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../../Content/wizard/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="../../Content/wizard/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../../Content/wizard/css/style.css">
</head>
<body>
    <div class="wrapper">
        @RenderBody()
    </div>
    <script src="../../Content/wizard/js/jquery-3.3.1.min.js"></script>

    <!-- JQUERY STEP -->
    <script src="../../Content/wizard/js/jquery.steps.js"></script>

    <script src="../../Content/wizard/js/main.js"></script>

    <!-- Template created and distributed by Colorlib -->
</body>
</html>